body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: slategray;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: orange;
}

header {
    text-align: center;
    background-color: red;
    color: black;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

ul {
    display: inline-block;
}

li{
    text-align: left;
}
.content {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: bolder;
    text-align: center;
}

h4 {
    text-align: center;
}
h5  {
    text-align: center;
}
footer {
    text-align: center;
    margin-top: 20px;
    background-color: red;
    color: black;
    padding: 10px 0;
}
